beautifulsoup4==4.5.1
boto==2.42.0
Django==1.8.14
django-appconf==1.0.2
django-cachalot==1.2.1
django-compressor==2.1
django-dbbackup==3.0.2
django-debug-toolbar==1.5
django-debug-toolbar-template-timings==0.6.6
django-jet==1.0.1
django-redis==4.4.4
django-storages==1.5.0
gunicorn==19.6.0
html5lib==0.999999999
pytz==2016.6.1
rcssmin==1.0.6
redis==2.10.5
rjsmin==1.0.12
six==1.10.0
sqlparse==0.2.1
webencodings==0.5
wheel==0.24.0
